@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');

label {
  display: inline-block;
}
body {
  text-align: center;
  background-color: #abbfe0;
  font-family: 'Montserrat', sans-serif;
  font-size:90%;
}
input {
  font-family: 'Montserrat', sans-serif;
}
#button {
  border: 1px solid black;
  border-radius: 20px;
  color: #000;
  background-color: #fff;
  padding-left:30px;
  padding-right:30px;
  padding-top:10px;
  padding-bottom:10px;
  cursor: pointer;
  transition: 0.3s;
}
#button:hover {
  color: #fff;
  background-color: #000;
}
form {
  margin-left: 50px;
  margin-right: 50px;
}
table, th, td {
  border: 5px solid transparent;
  border-collapse: collapse;
}
#box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 675px;
  max-width:80%;
  max-height: 80%;
  padding-top: 30px;
  padding-bottom:30px;
  border-radius: 10px;
  box-shadow: 5px 7px #5270a3;
  letter-spacing: 1px;
  background-color:white;
  position: relative;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  overflow: scroll;
}