@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap');

label {
    display: inline-block;
}

body {
    text-align: center;
    background-color: #abbfe0;
    font-family: 'Montserrat', sans-serif;
    font-size: 80%;
}

input {
    font-family: 'Montserrat', sans-serif;
}

form {
    margin-left: 50px;
    margin-right: 50px;
}

table, th, td {
    border: 1px solid transparent;
    border-collapse: collapse;
    font-size: 110%;
}

#box {
    display: block;
    width: 675px;
    max-width: 80%;
    max-height: 80%;
    padding-top: 20px;
    padding-bottom: 30px;
    border-radius: 10px;
    box-shadow: 5px 7px #5270a3;
    letter-spacing: 1px;
    background-color: white;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    overflow: scroll;
}

.footer {
    font-size: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
}
.footer a {
    text-decoration: none;
    color:#5270a3;
    transition: 0.3s;
}
.footer a:hover {
    color:black;
}

/*GPA CALC stuff*/

#calcbutton { /* calculate button */
    border: 1px solid black;
    border-radius: 20px;
    color: #000;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

    #calcbutton:hover {
        color: #fff;
        background-color: #000;
    }

#chartButton { /* chart button */
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    border-radius: 20px;
    color: #000;
    background-color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
    max-width:70%;
    margin:0 auto;
    display:block;
}

    #chartButton:hover {
        color: #fff;
        background-color: #000;
    }

.modal { /* modal background */
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 30%; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.2); /* Black w/ opacity */
}

.modal-content {
  background-color: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  box-shadow: 4px 5px #5270a3;
}

.close {
  color: #5270a3;
  float: right;
  margin-top:-5px;
  font-size: 28px;
}

    .close:hover,
    .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s;
    }

/*TO-DO stuff*/

#todosave, #todoreload, #completedsave, #completedreload {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    border-radius: 20px;
    color: #000;
    background-color: #fff;
    padding: 7px 20px 7px 20px; /*top, right, bottom, left*/
    cursor: pointer;
    transition: 0.3s;
}

    #todosave:hover, #todoreload:hover, #completedsave:hover, #completedreload:hover {
        color: #fff;
        background-color: #000;
    }

textarea {
    font-family: 'Montserrat', sans-serif;
    border-radius:5px;
    max-width:85%;
}

/*TIMER stuff*/

#timer {
    font-size:50px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 2% 20% 3% 20%;
    padding: 20px;
}

#settimer {
    border: 1px solid black;
    border-radius: 10px;
    margin: 2% 28% 2% 28%;
    padding-top: 15px;
}

.timerbutton {
    font-family: 'Montserrat', sans-serif;
    border: 1px solid black;
    border-radius: 20px;
    color: #000;
    background-color: #fff;
    padding: 7px 10px 7px 10px;
    cursor: pointer;
    transition: 0.3s;
}
    .timerbutton:hover {
    color: #fff;
    background-color: #000;
    }